<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>signup</h3>

    <form action="/signup" method="post">
    {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <br/>
        <label for="">First name</label>
        <input type="text" id="firstname" name="firstname" placeholder="Enter your firstname">
        <br/>
        <label for="">Last name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Enter your lastname">
        <br/>
        <label for="">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email address">
        <br/>
        <label for="">Password</label>
        <input type="password" id="password1" name="password1" placeholder="create your password">
        <br/>
        <label for="">Confirm Password</label>
        <input type="password" id="password2" name="password2" placeholder="Retype password">
        <br/>
        <button type="submit"> Signup</button>
    </form>
</body>
</html>